.sfaq-accordion-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.sfaq-accordion-title {
    cursor: pointer;
    padding: 10px;
    background: var(--sfaq-title-bg);
    display: flex;
    align-items: center;
}
.sfaq-icon {
    font-weight: bold;
    margin-right: 8px;
}
.sfaq-accordion-content {
    display: none;
    padding: 10px;
    background: var(--sfaq-content-bg);
}
.sfaq-accordion-title.active + .sfaq-accordion-content {
    display: block;
}
