.sfaq-accordion-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.sfaq-accordion-title {
    cursor: pointer;
    padding: 10px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.sfaq-icon {
    font-weight: bold;
    margin-right: 8px;
}
.sfaq-accordion-content {
    display: none;
    padding: 10px;
}
.sfaq-accordion-title.active + .sfaq-accordion-content {
    display: block;
}
